@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  * {
    transition:
      background-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
  }
}

@layer components {
  .side-shadow {
    box-shadow:
      -5px 0 10px rgba(0, 0, 0, 0.15),
      5px 0 10px rgba(0, 0, 0, 0.15);
  }
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto_mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto_mono_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Retro Computer";
  src: url("/fonts/retro_computer.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-retro: "Retro Computer";
  --font-mono: "Roboto Mono";
  --font-mono-bold: "Roboto Mono";
  --font-jetbrains: "JetBrains Mono";
}
